<?xml version="1.0" encoding="UTF-8"?>
<!-- BankTestMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 구현체 자동 생성하려면 SQL 파일을 Dao인터페이스와 맞춰야 한다.
namespace=인터페이스이름(패키지 이름 포함)
SQL id=인터페이스 메서드명
 -->  

<mapper namespace="qbank.dao.CategoryDao">
  <resultMap type="qbank.vo.CategoryVo" id="categoryMap">
    <id column="CCODE" property="code"/> <!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="CNAME" property="name"/>
    <result column="CURL" property="url"/>
    <result column="CPARENT" property="parent"/>
    <result column="CSEQ" property="seq"/>
    <result column="CDEPTH" property="depth"/>
    <result column="CUSEYN" property="useyn"/>
  </resultMap> 
   
   
  <select id="list" resultMap="categoryMap">
    select CCODE, CNAME, CURL, CPARENT, CSEQ, CDEPTH, CUSEYN 
    from CATEGORY 
    order by CPARENT, CSEQ, CDEPTH asc
  </select>
   
     
  <select id="maxParent" resultType="string" parameterType="categoryVo">
	 insert category (cname, curl, cparent, cseq, cdepth, cuseyn) 
			select #{name} ,null , max(cparent)+1 , null, null, #{useyn} from category; 
  </select>   
    
  <select id="maxSeq" resultType="string" parameterType="categoryVo">
	 insert category (cname, curl, cparent, cseq, cdepth, cuseyn) 
			select #{name} ,null , #{parent}, if((max(cseq) is null)=0 , max(cseq)+1 , 1) , null, #{useyn} 
	 from category where cparent = #{parent}; 
  </select>     
  
  <select id="maxDepth" resultType="string" parameterType="categoryVo">
	 insert category (cname, curl, cparent, cseq, cdepth, cuseyn) 
			select #{name} ,null , #{parent}, #{seq}, if((max(cdepth) is null)=0 , max(cdepth)+1 , 1) , #{useyn} 
	 from category where cparent = #{parent} and cseq = #{seq}; 
  </select>
  
     
  <insert id="insert" parameterType="categoryVo">
    insert into CATEGORY(CNAME, CURL, CPARENT, CSEQ, CDEPTH, CUSEYN)
    values (#{name}, #{url}, #{parent}, #{seq}, #{depth}, #{useyn})
  </insert> 
  
  <delete id="delete" parameterType="String">
    delete from CATEGORY where CNAME=#{name}
  </delete>    
</mapper>



















