<?xml version="1.0" encoding="UTF-8"?>
<!-- SubjectMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<!-- DAO 인터페이스만 선언하고, 구현체를 자동 생성되게 하려면
네임스페이스 이름을 인터페이스 이름과 같게 한다.
SQL 아이디 값을 인터페이스의 메서드 이름과 같게 한다.
 -->  
<mapper namespace="qbank.dao.FindDao">
  <resultMap type="qbank.vo.UserVo" id="userMap">
    <id column="UNO" property="uno"/><!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="UID" property="uid"/>
    <result column="UPASS" property="upass"/>
    <result column="UNAME" property="uname"/>
    <result column="UEMAIL" property="uemail"/>
  </resultMap> 

  <select id="getUserId" parameterType="UserVo" resultMap="userMap">
    select 
    			UNO, 
    			UID, 
    			UNAME, 
    			UEMAIL
    from 
    			USERS
    where 
    			UEMAIL=#{email} 
  </select>
  
  <select id="getUserPass" parameterType="UserVo" resultMap="userMap">
    select 
    			UNO, 
    			UID, 
    			UNAME, 
    			UEMAIL,
    			UPASS
    from 
    			USERS
    where 
    			UID=#{id} 
    and
    			UEMAIL=#{email} 
  </select>
  

</mapper>
