<?xml version="1.0" encoding="UTF-8"?>
<!-- JoinChkMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="qbank.dao.JoinCheckDao">
  <resultMap type="qbank.vo.JoinChkVo" id="joinChkMap">
    <id column="UNO" property="uno"/><!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="UID" property="uid"/>
     <result column="UEMAIL" property="uemail"/>
  </resultMap> 


  
  <select id="getJoinUser" parameterType="map" resultMap="joinChkMap">
    select UID from USERS where UID=#{uid}
  </select>
  
  <select id="getJoinEmail" parameterType="map" resultMap="joinChkMap">
    select UEMAIL from USERS where UEMAIL=#{uemail}
  </select>
  
</mapper>
