<?xml version="1.0" encoding="UTF-8"?>
<!-- SubjectMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="sems.dao.StudentDao">
  <resultMap type="sems.vo.StudentVo" id="studentMap">
    <id column="UNO" property="no"/><!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="UID" property="uid"/>
    <result column="UEMAIL" property="uemail"/>
    <result column="UNAME" property="uname"/>
  </resultMap> 

  <insert id="insert" parameterType="studentVo">
    insert into SE_STUDS (UNO,COMP,POS,STAT,LAST_SCH,ACCT)
    values (#{no}, 
            #{company}, 
            #{position}, 
            #{workingState}, 
            #{lastSchool}, 
            #{bankingAccount})
  </insert>
  <!--
  <select id="getLoginUser" 
      parameterType="map" resultMap="studentMap">
    select T1.UNO, T1.NAME, T1.EMAIL, T1.TEL 
    from USERS T1 left outer join STUDENT T2
    on T1.UNO = T2.UNO
    where T1.UID=#{uid} and T1.UPASS=#{password}
  </select>
  -->
  
  <select id="getLoginUser" parameterType="map" resultMap="studentMap">
    select UNO, UNAME, UEMAIL 
    from USERS
    where UID=#{uid} and UPASS=#{password}
  </select>
  
</mapper>
