<?xml version="1.0" encoding="UTF-8"?>
<!-- SubjectMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<!-- DAO 인터페이스만 선언하고, 구현체를 자동 생성되게 하려면
네임스페이스 이름을 인터페이스 이름과 같게 한다.
SQL 아이디 값을 인터페이스의 메서드 이름과 같게 한다.
 -->  
<mapper namespace="qbank.dao.UserDao">
  <resultMap type="qbank.vo.UserVo" id="userMap">
    <id column="UNO" property="uno"/><!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="UCLASS" property="uclass"/>
    <result column="UID" property="uid"/>
    <result column="UPASS" property="upass"/>
    <result column="UNAME" property="uname"/>
    <result column="USEX" property="usex"/>
    <result column="UBIRTH" property="ubirth"/>
    <result column="UEMAIL" property="uemail"/>
    <result column="UTEL" property="utel"/>
    <result column="UCELLPHONE" property="ucellphone"/>
     <result column="UPHOTOPATH" property="uphotopath"/>
  </resultMap> 

  <select id="getLoginUser" parameterType="UserVo" resultMap="userMap">
    select 
    			UNO, 
    			UCLASS, 
    			UID, 
    			UPASS, 
    			UNAME, 
    			UEMAIL
    from 
    			USERS
    where 
    			UID=#{uid} 
    	and UPASS=#{upass}
  </select>
  
  
  
  
  <!-- <insert id="insert" parameterType="userVo"
      useGeneratedKeys="true" keyColumn="UNO" keyProperty="uno">
    insert into USERS 
          (UCLASS,UID,UPASS,UNAME,UEMAIL,UADDR1,UADDR2,UZIPCODE,UTEL,UCELLPHONE,UBIRTH,USEX)
    values (#{uclass},
            #{uid},
            #{upassword},
            #{uname},
            #{uemail},
            #{uaddr1},
            #{uaddr2},
            #{uzipcode},
            #{utel},
            #{ucell},
            #{ubirth},
            #{usex})
  </insert> -->
  
  
</mapper>
