@CHARSET "UTF-8";


#bcontainer {
  display: -webkit-flex;
  display: flex;
  margin:auto;
  width: 1200px;
  min-height: 700px;
 // border : thin solid red;
}

#bnav {
    float: left;
    padding: 10px;
  	width: 20%;

  	background-color: rgb(235, 230, 230);
  	border : thin solid rgb(146, 146, 146);
}

#bflex-column {
  -webkit-flex: 1;
          flex: 1;
  padding: 10px;
//  border : thin solid green;
}

#bbankAdd {
	text-align: right;	
}

#bpageSerch {
	align: right;	
}

#bpageMove{
	text-align: center;
}

button{
	align : right;
}


th, td{
	text-align: center;
}

.editBox{
	margin-bottom: 20px; 
}

.editBox1{
	margin-bottom: 15px; 
}

textarea{ 
  width: 350px; 
  max-width:350px;  
  min-width:350px; 
}

#finishBox{
	margin-top: 50px; 
	text-align: center;
}

hr{
  border-top:1px solid gray;
}

.checkbox{
	margin: auto;
	height: 54px;
}
