@CHARSET "UTF-8";




#bcontainer {
  display: -webkit-flex;
  display: flex;
  margin:auto;
  width: 100%;
  min-height: 700px;
 
 /*  border : thin solid red; */
}

#bnav {
float: left;
width: 20%;
background-color: rgb(255, 255, 255);
border: 2px solid rgb(226, 79, 79);
margin: 0.5%;
border-radius: 10px;
}

#bflex-column {
  -webkit-flex: 1;
          flex: 1;
  padding: 10px;
 margin-left: 3%;
 margin-right: 3%;
}

#bbankAdd {
	text-align: right;	
}

#bpageSerch {
	align: right;	
}

#bpageMove{
	text-align: center;
}

button{
	align : right;
}


th, td{
	text-align: center;
}

.editBox{
	margin-bottom: 20px; 
}

.editBox1{
	margin-bottom: 15px; 
}

textarea{ 
  width: 350px; 
  max-width:350px;  
  min-width:350px; 
}


#finishText{
	text-align: left;
	font-size: 12px;
}


hr{
  border-top:1px solid gray;
}

.checkbox{
	margin: auto;
	height: 54px;
}


#choiceBox{
	position: relative;
    width: 750px;
    height: 150px;
	margin-bottom: 14px;
	padding: 9px 14px;
	background-color: rgb(252, 242, 232);
	border: 1px solid rgb(226, 79, 79);
	border-radius: 4px;
}

#choiceBox2, #choiceBox3{
	position: relative;
    width: 750px;
    height: 250px;
	margin-bottom: 14px;
	padding: 9px 14px;
	background-color: rgb(252, 242, 232);
	border: 1px solid rgb(226, 79, 79);
	border-radius: 4px;
	display: none;
}
#delete-confirm, #create-confirm, #modify-message, #help-messag, #modify-confirm{
	display: none;
	margin-left: 10px;
}
#choiceDelete{
	background-color: #FF0000;
}
#finishBox1, #finishBox2{
	display: none;
	margin-left: 10px;
}
#help{
	color: #0084b4;
	cursor: pointer;
}













