@CHARSET "UTF-8";
#bflex-column{
	margin: auto; 
}

#selectGroup{
	border:1px solid #ccc; 
	padding-left: 140px; 
	margin-bottom: 20px; 
	width: 950px; 
}

.bcategory{
	width: 350px; 
	display: inline-block;
	padding:10px; 
}

#blevel{
	width: 300px;
	height: 50px; 
}


textarea{ 
  width: 350px; 
  max-width:350px;  
  min-width:350px; 
}

.container{
	border:1px solid #ccc; 
	width: 950px; 
}

