@CHARSET "UTF-8";
#bflex-column{
	margin: auto; 
}

#selectGroup{
	border:1px solid #ccc; 
	padding-left: 140px; 
	margin-bottom: 20px; 
	width: 950px; 
}

.bcategory{
	width: 350px; 
	display: inline-block;
	padding:10px; 
}

#blevel{
	height: 50px; 
}


textarea{ 
  width: 350px; 
  max-width:350px;  
  min-width:350px; 
}

.container{
	width: 950px; 
	padding-bottom: 20px; 
	border:1px solid #ccc; 
}

.questBox{
	display: list-item;
	margin-top: 20px; 
	margin-left: 150px; 
}
.btnBox{
   margin-left: 600px;  
}

button{
	margin-left: 10px; 
}

label{
	margin-right: 5px; 
	margin-left: 5px; 
}

hr{
  border-top:1px solid gray;
}

.textInput{
	width: 500px; 
}

