@CHARSET "UTF-8";
.editBox{
	margin-bottom: 20px; 
}

.editBox1{
	margin-bottom: 15px; 
}

textarea{ 
  width: 350px; 
  max-width:350px;  
  min-width:350px; 
}

#finishBox{
	margin-top: 50px; 
	text-align: center;
}

hr{
  border-top:1px solid gray;
}

