@CHARSET "UTF-8";

#backgroundPopup1 {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px; 
}
#toPopup1 {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -250px;
    width: 560px; 
    position: fixed;
    overflow:auto;
    z-index: 2;
}
div.loader1 {
    background: url("/qBank/image/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close1 {
    /* background: url("../image/xBox.png") no-repeat scroll 0 0 transparent; */
    cursor: pointer;
    height: 30px;
    position: absolute;
    right:3px;
    top: 4px;
    width: 30px;
}
#xBoxImg{
	width: 25px;
	height: 25px;
}
span.ecs_tooltip1 {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow1 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

.contentBox{
  width: 540px; 
  border: 1px solid black; 
  margin: auto; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
  background-image: url(/qBank/image/tree3.png);
  background-repeat:no-repeat;
  background-size: cover;
  
}
#content1{border:1px solid green; margin:auto; z-index:1; }
#content2{border:1px solid red; margin:auto; z-index:2; }
#content3{border:1px solid blue; margin:auto; z-index:3;}

.agreeBox{
 width: 400px; 
 height: 200px; 
 margin: auto; 
 overflow:auto;
 border: double chocolate;
 padding: 5px; 
 background: white;
 color: black;
}

#toPopup1 h1{
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}

#toPopup1 p{
	color: #ebebeb;
	font-size: 15px;
}