@CHARSET "UTF-8";

#backgroundPopup1 {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px; 
}
#toPopup1 {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -250px;
    width: 560px; 
    position: fixed;
    overflow:auto;
    z-index: 2;
}
div.loader1 {
    background: url("/qBank/image/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
.close1 {
    background: url("../image/closeBtn1.png") no-repeat;
	background-size: contain;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right:3px;
    top: 4px;
    width: 30px;
}

.contentBox{
  width: 540px; 
  margin: auto; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
  background-image: url(/qBank/image/tree3.png);
  background-repeat:no-repeat;
  background-size: cover;
  
  
}

.agreeBox{
 width: 400px; 
 height: 120px; 
 margin: auto; 
 overflow:auto;
 border: ridge aliceblue;
 padding: 5px; 
 background: white;
 color: black;
}

.contentBox h1{
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}
#toPopup1 .control-label{
  color: #ebebeb;
  font: 15px Arial, Helvetica, sans-serif;
}

.contentBox p{
  color: #ebebeb;
  font: 15px Arial, Helvetica, sans-serif;
}


#studentBtn{
	
	width: 200px; 
	height: 140px; 
	display: -webkit-inline-box;
	margin-left: 30px; 
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 5px solid #5A3404;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	
}

#studentBtn p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #5A3404;
	margin-top: 40px; 
	margin-left:30px; 
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
	
}

#studentImg{
    background: url(../image/studentAfter.png) no-repeat;
	background-size: contain; 
	width: 60px;
	height: 120px;
	margin-left: 11px;
    margin-top: 13px;
}

#teacherBtn{
	
	width: 200px; 
	height: 140px; 
	display: -webkit-inline-box;
	margin-left: 30px; 
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 5px solid #5A3404;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	
}

#teacherBtn p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #5A3404;
	margin-top: 40px; 
	margin-left:20px; 
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
	
}

#teacherImg{
    background: url(../image/teacherBefor.png) no-repeat;
	background-size: contain; 
	width: 55px;
	height: 110px;
	margin-left: 11px;
    margin-top: 37px;
}

.form-group{
	width: 540px; 
}

