
#login-box {
	width:450px;
	height: 360px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../image/login-box-backg.png) no-repeat left top;
	margin:auto; 
	margin-top: 10px; 
}

#login-box img {
	border:none;
	
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	margin-top: 20px;
	padding: 0px 0px 0 0;
	margin:0 0 7px 0;
}




.form-login  {
	width: 230px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 13px;
	color: #ebebeb;
	margin-top: 15px;
}

.form-member  {
	width: 230px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 13px;
	color: #ebebeb;
	margin-left: -190px;
	margin-top: 15px;
}


.form-find  {
	width: 150px;
	padding: 8px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 11px;
	color: #ebebeb;
	margin-top: 10px;
}



.login-box-options  {
	clear:both;
	font-size: 12px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}